.row {
  background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 50%, #d8d8d8 100%);
}

.container {
  @extend %no-padding-container;
}

.wrapper {
  composes: wrapper from '../row1/row.scss';
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: [first] 50% [last] 50%;
  grid-template-columns: [col1] 24% [col2] 24% [col3] 52%;

  @include media-breakpoint-down(lg) {
    grid-template-columns: [col1] 284px [col2] 284px [col3] auto;
  }
}


.item1 {
  grid-column-start: col1;
  grid-row-end: 3;
  grid-row-start: first;

}

.item2 {
  grid-column-start: col2;
  grid-row-start: first;
}

.item3 {
  grid-column-start: col2;
  grid-row-start: last;
}

.item4 {
  grid-column-start: col3;
  grid-row-start: first;
  grid-row-end: 3;
}
