.row {
  background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 50%, #d8d8d8 100%);
}

.container {
  composes: container from '../../../styles/grid.scss';
}

.grid {
  display: grid;
  grid-template-rows: [first] 50% [last] 50%;
  grid-template-columns: [col1] 52% [col2] 24% [col3] 24%;
  height: 640px;
}


.item1 {
  grid-column-start: col1;
  grid-column-end: col1;
  grid-row-start: first;
  grid-row-end: 3;
}

.item2 {
  grid-column-start: col2;
  grid-row-start: first;
}

.item3 {
  grid-column-start: col2;
  grid-row-start: last;
}

.item4 {
  grid-column-start: col3;
  grid-row-start: first;
  grid-row-end: 3;
}
