:root {
  --font-family-title: 'Open Sans', sans-serif;
  --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-base: 14px;
  --grey: #f8f8f8;
  --text-color: #3b3b3b;
  --blue: #1e1a33;
  --gold: #b18632;
  --aqua: #90ccd1;
  --light-blue: #00abf0;
}
